.page {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

.welcome {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 40px;
    height: 500px;
}

.welcome h1 {
    font-size: 65px;
}

.welcome h2 {
    font-size: 45px;
}

.bigGradient, .smallGradient {
    position: absolute;
    filter: blur(35px);
    animation: float-reverse 8s ease-in-out infinite;
    z-index: -1;
}

.bigGradient {
    top: -450px;
    right: -200px;
    animation: float 15s ease-in-out infinite;
}

.smallGradient {
    top: -180px;
    left: -120px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
    gap: 80px;
}

.about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    max-width: 80%;
    gap: 20px;
}

.about article h1 {
    font-size: 25px;
}

.about article p {
    line-height: 1lh;
    font-size: 18px;
}

.about aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about aside .me {
    height: auto;
    width: auto;
    max-width: 85%;
}

.contact {
    display: flex;
    justify-content: space-between;
    background-color: var(--PrimaryColor);
    border-radius: 20px;
    color: #fff;
    margin: 30px;
    padding: 30px;
}

.contact .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
    gap: 18px;
}

.contact .titles a {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
}

.contact a:hover {
    filter: brightness(0.9);
}

.contact aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact aside img {
    border-radius: 35px;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-80px, -80px);
  }
  40% {
    transform: translate(-40px, 40px);
  }
  60% {
    transform: translate(60px, 60px);
  }
  80% {
    transform: translate(40px, -40px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes float-reverse {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(80px, 150px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media (max-width: 1000px) {
    .bigGradient {
        top: -160px;
        right: -350px;
        width: 600px !important;
        height: 600px !important;
    }

    .smallGradient {
        top: -100px;
        left: -140px;
        width: 300px !important;
        height: 300px !important;
    }
    .contact {
        flex-direction: column;
        align-items: center;
        margin: 40px;
        gap: 20px;
    }
    .contact .titles {
        align-items: stretch;
    }
    .contact aside {
        flex-direction: row;
    }
}